In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
referrals = pd.read_csv('../clean_data/referrals.csv')
referrers1 = pd.read_csv('../clean_data/referring_providers1.csv')
referrers2 = pd.read_csv('../clean_data/referring_providers2.csv')

In [16]:
referrers1.head()

,referrer_npi,referrer_entity_type_code,referrer_last_name,referrer_first_name,referrer_credential,referrer_specialization,referrer_zip_code,referrer_city,referrer_state
0,1134122187,1,RUDNICKE,CHERYL,CRNP,NaN,37203,NASHVILLE,TN
1,1750384780,1,PERRIGIN,JULIE,MD,NaN,37055,DICKSON,TN
2,1922001957,1,PRESLEY,RICHARD,M.D.,NaN,37203,NASHVILLE,TN
3,1073516001,1,ROSS,DAVID,MD,NaN,37055,DICKSON,TN
4,1700889730,1,WEISS,KENNETH,M.D.,Sports Medicine,38120,MEMPHIS,TN

In [17]:
referrers2.head()

,referrer_npi,referrer_entity_type_code,referrer_business_name,referrer_grouping,referrer_classification,referrer_zip_code,referrer_city,referrer_state
0,1346243375,2,"ROBERT WOOD JOHNSON UNIVERSITY HOSPITAL, INC",Hospitals,General Acute Care Hospital,8901,NEW BRUNSWICK,NJ
1,1104829159,2,LABORATORY CORPORATION OF AMERICA,Laboratories,Clinical Medical Laboratory,27215,BURLINGTON,NC
2,1770586794,2,ST LUKES REGIONAL MEDICAL CENTER,Hospitals,General Acute Care Hospital,83712,BOISE,ID
3,1083617005,2,"OKLAHOMA HEART HOSPITAL, LLC",Hospitals,General Acute Care Hospital,73120,OKLAHOMA CITY,OK
4,1073516019,2,DREW COUNTY MEMORIAL HOSPITAL,Hospitals,General Acute Care Hospital,71655,MONTICELLO,AR

In [18]:
referrals.head()

,referrer_npi,hosp_npi,txns,patients,hosp_business_name,hosp_grouping,hosp_classification,hosp_zip_code,hosp_city,hosp_state
0,1518961176,1245233220,451,264,"NORTHRIDGE SURGERY CENTER, LP",Ambulatory Health Care Facilities,Clinic/Center,37075,MADISON,TN
1,1538153937,1245233220,92,89,"NORTHRIDGE SURGERY CENTER, LP",Ambulatory Health Care Facilities,Clinic/Center,37075,MADISON,TN
2,1801075247,1245233220,193,169,"NORTHRIDGE SURGERY CENTER, LP",Ambulatory Health Care Facilities,Clinic/Center,37075,MADISON,TN
3,1427098912,1245233220,133,122,"NORTHRIDGE SURGERY CENTER, LP",Ambulatory Health Care Facilities,Clinic/Center,37075,MADISON,TN
4,1336415819,1245233220,76,74,"NORTHRIDGE SURGERY CENTER, LP",Ambulatory Health Care Facilities,Clinic/Center,37075,MADISON,TN

In [19]:
referrals[referrals['hosp_business_name'].str.lower().str.contains('vand')]

,referrer_npi,hosp_npi,txns,patients,hosp_business_name,hosp_grouping,hosp_classification,hosp_zip_code,hosp_city,hosp_state
19415,1528174752,1598738205,52,51,VANDERBILT STALLWORTH REHABILITATION HOSPITAL LP,Hospitals,Rehabilitation Hospital,37212,NASHVILLE,TN
19416,1770725905,1598738205,55,54,VANDERBILT STALLWORTH REHABILITATION HOSPITAL LP,Hospitals,Rehabilitation Hospital,37212,NASHVILLE,TN
19417,1780812289,1598738205,97,94,VANDERBILT STALLWORTH REHABILITATION HOSPITAL LP,Hospitals,Rehabilitation Hospital,37212,NASHVILLE,TN
19418,1548437437,1598738205,68,67,VANDERBILT STALLWORTH REHABILITATION HOSPITAL LP,Hospitals,Rehabilitation Hospital,37212,NASHVILLE,TN
19419,1578509998,1598738205,100,96,VANDERBILT STALLWORTH REHABILITATION HOSPITAL LP,Hospitals,Rehabilitation Hospital,37212,NASHVILLE,TN
...,...,...,...,...,...,...,...,...,...,...
122153,1669554556,1972027159,75,30,VANDERBILT UNIVERSITY MEDICAL CENTER,Ambulatory Health Care Facilities,Clinic/Center,37204,NASHVILLE,TN
122154,1104202761,1972027159,332,71,VANDERBILT UNIVERSITY MEDICAL CENTER,Ambulatory Health Care Facilities,Clinic/Center,37204,NASHVILLE,TN
122155,1124024922,1972027159,85,41,VANDERBILT UNIVERSITY MEDICAL CENTER,Ambulatory Health Care Facilities,Clinic/Center,37204,NASHVILLE,TN
122156,1992897326,1972027159,51,19,VANDERBILT UNIVERSITY MEDICAL CENTER,Ambulatory Health Care Facilities,Clinic/Center,37204,NASHVILLE,TN
122157,1396882205,1972027159,186,63,VANDERBILT UNIVERSITY MEDICAL CENTER,Ambulatory Health Care Facilities,Clinic/Center,37204,NASHVILLE,TN

In [21]:
referrals[referrals['hosp_business_name'].str.lower().str.contains('baptist')]

,referrer_npi,hosp_npi,txns,patients,hosp_business_name,hosp_grouping,hosp_classification,hosp_zip_code,hosp_city,hosp_state
18366,1528050671,1336119627,70,33,BAPTIST WOMEN'S HEALTH CENTER LLC,Hospitals,Special Hospital,37203,NASHVILLE,TN
18367,1538153937,1336119627,707,480,BAPTIST WOMEN'S HEALTH CENTER LLC,Hospitals,Special Hospital,37203,NASHVILLE,TN
18368,1548284060,1336119627,157,134,BAPTIST WOMEN'S HEALTH CENTER LLC,Hospitals,Special Hospital,37203,NASHVILLE,TN
18369,1548704547,1336119627,367,332,BAPTIST WOMEN'S HEALTH CENTER LLC,Hospitals,Special Hospital,37203,NASHVILLE,TN
18370,1780023713,1336119627,90,83,BAPTIST WOMEN'S HEALTH CENTER LLC,Hospitals,Special Hospital,37203,NASHVILLE,TN
...,...,...,...,...,...,...,...,...,...,...
99393,1215932413,1780964866,141,136,"BAPTIST PLAZA SURGICARE, LP",Ambulatory Health Care Facilities,Clinic/Center,37203,NASHVILLE,TN
99394,1255332003,1780964866,239,235,"BAPTIST PLAZA SURGICARE, LP",Ambulatory Health Care Facilities,Clinic/Center,37203,NASHVILLE,TN
99395,1972525194,1780964866,81,81,"BAPTIST PLAZA SURGICARE, LP",Ambulatory Health Care Facilities,Clinic/Center,37203,NASHVILLE,TN
99396,1972718104,1780964866,85,83,"BAPTIST PLAZA SURGICARE, LP",Ambulatory Health Care Facilities,Clinic/Center,37203,NASHVILLE,TN
99397,1396723185,1780964866,52,48,"BAPTIST PLAZA SURGICARE, LP",Ambulatory Health Care Facilities,Clinic/Center,37203,NASHVILLE,TN

In [22]:
referrers1.head()

,referrer_npi,referrer_entity_type_code,referrer_last_name,referrer_first_name,referrer_credential,referrer_specialization,referrer_zip_code,referrer_city,referrer_state
0,1134122187,1,RUDNICKE,CHERYL,CRNP,NaN,37203,NASHVILLE,TN
1,1750384780,1,PERRIGIN,JULIE,MD,NaN,37055,DICKSON,TN
2,1922001957,1,PRESLEY,RICHARD,M.D.,NaN,37203,NASHVILLE,TN
3,1073516001,1,ROSS,DAVID,MD,NaN,37055,DICKSON,TN
4,1700889730,1,WEISS,KENNETH,M.D.,Sports Medicine,38120,MEMPHIS,TN

In [23]:
referrers1.referrer_specialization.value_counts()

Family                                               1654
Diagnostic Radiology                                  999
Nephrology                                            519
Cardiovascular Disease                                428
Pain Medicine                                         299
                                                     ...
Pediatric Ophthalmology and Strabismus Specialist       1
Therapeutic Radiology                                   1
Pediatric Critical Care Medicine                        1
Pediatric Allergy/Immunology                            1
Neurocritical Care                                      1
Name: referrer_specialization, Length: 142, dtype: int64