In [1]:
import pandas as pd
import sqlite3

In [2]:
# # # Code to delete all tables in the database
# # # ONLY RUN THIS TO RESET THE ENTIRE DATABASE

# database_path = '../data/hop_teaming'

# # Open the database connection
# with sqlite3.connect(database_path) as db:
#     # Create a cursor object to execute SQL commands
#     cursor = db.cursor()

#     # Query the names of all tables in the database
#     cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
    
#     # Fetch all table names
#     table_names = cursor.fetchall()
#     print(table_names)

#     # Iterate through each table and drop it
#     for table in table_names:
#         cursor.execute(f"DROP TABLE IF EXISTS {table[0]}")
#     db.commit()

In [3]:
database_path = '../data/hop_teaming'

In [4]:
chunksize = 1000000
n = 1

# The following code reads the CSV file in "chunks", processes each chunk and adds to the database
with sqlite3.connect(database_path) as db:
    for chunk in pd.read_csv('../data/DocGraph_Hop_Teaming_2018_Commercial/DocGraph_Hop_Teaming_2018.csv', chunksize=chunksize):
        chunk.columns = [x.lower().replace(' ', '_') for x in chunk.columns]  # Clean up the column names
        chunk.to_sql('hopteaming', db, if_exists='append', index=False)  # Append the chunk to a hops table
        print("Added " + str(n * chunksize) + " rows")
        n += 1

Added 1000000 rows
Added 2000000 rows
Added 3000000 rows
Added 4000000 rows
Added 5000000 rows
Added 6000000 rows
Added 7000000 rows
Added 8000000 rows
Added 9000000 rows
Added 10000000 rows
Added 11000000 rows
Added 12000000 rows
Added 13000000 rows
Added 14000000 rows
Added 15000000 rows
Added 16000000 rows
Added 17000000 rows
Added 18000000 rows
Added 19000000 rows
Added 20000000 rows
Added 21000000 rows
Added 22000000 rows
Added 23000000 rows
Added 24000000 rows
Added 25000000 rows
Added 26000000 rows
Added 27000000 rows
Added 28000000 rows
Added 29000000 rows
Added 30000000 rows
Added 31000000 rows
Added 32000000 rows
Added 33000000 rows
Added 34000000 rows
Added 35000000 rows
Added 36000000 rows
Added 37000000 rows
Added 38000000 rows
Added 39000000 rows
Added 40000000 rows
Added 41000000 rows
Added 42000000 rows
Added 43000000 rows
Added 44000000 rows
Added 45000000 rows
Added 46000000 rows
Added 47000000 rows
Added 48000000 rows
Added 49000000 rows
Added 50000000 rows
Added 51000000 rows
Added 52000000 rows
Added 53000000 rows
Added 54000000 rows
Added 55000000 rows
Added 56000000 rows
Added 57000000 rows
Added 58000000 rows
Added 59000000 rows
Added 60000000 rows
Added 61000000 rows
Added 62000000 rows
Added 63000000 rows
Added 64000000 rows
Added 65000000 rows
Added 66000000 rows
Added 67000000 rows
Added 68000000 rows
Added 69000000 rows
Added 70000000 rows
Added 71000000 rows
Added 72000000 rows
Added 73000000 rows
Added 74000000 rows
Added 75000000 rows
Added 76000000 rows
Added 77000000 rows
Added 78000000 rows
Added 79000000 rows
Added 80000000 rows
Added 81000000 rows
Added 82000000 rows
Added 83000000 rows
Added 84000000 rows
Added 85000000 rows
Added 86000000 rows
Added 87000000 rows
Added 88000000 rows
Added 89000000 rows
Added 90000000 rows
Added 91000000 rows
Added 92000000 rows
Added 93000000 rows
Added 94000000 rows
Added 95000000 rows
Added 96000000 rows
Added 97000000 rows
Added 98000000 rows
Added 99000000 rows
Added 100000000 rows
Added 101000000 rows
Added 102000000 rows
Added 103000000 rows
Added 104000000 rows
Added 105000000 rows
Added 106000000 rows
Added 107000000 rows
Added 108000000 rows
Added 109000000 rows
Added 110000000 rows
Added 111000000 rows
Added 112000000 rows
Added 113000000 rows
Added 114000000 rows
Added 115000000 rows
Added 116000000 rows
Added 117000000 rows
Added 118000000 rows
Added 119000000 rows
Added 120000000 rows
Added 121000000 rows
Added 122000000 rows
Added 123000000 rows
Added 124000000 rows
Added 125000000 rows
Added 126000000 rows
Added 127000000 rows
Added 128000000 rows
Added 129000000 rows
Added 130000000 rows
Added 131000000 rows
Added 132000000 rows
Added 133000000 rows
Added 134000000 rows
Added 135000000 rows
Added 136000000 rows
Added 137000000 rows
Added 138000000 rows
Added 139000000 rows
Added 140000000 rows
Added 141000000 rows
Added 142000000 rows
Added 143000000 rows
Added 144000000 rows
Added 145000000 rows
Added 146000000 rows
Added 147000000 rows
Added 148000000 rows
Added 149000000 rows
Added 150000000 rows
Added 151000000 rows
Added 152000000 rows
Added 153000000 rows
Added 154000000 rows
Added 155000000 rows
Added 156000000 rows
Added 157000000 rows
Added 158000000 rows
Added 159000000 rows
Added 160000000 rows
Added 161000000 rows
Added 162000000 rows
Added 163000000 rows
Added 164000000 rows
Added 165000000 rows
Added 166000000 rows
Added 167000000 rows
Added 168000000 rows
Added 169000000 rows
Added 170000000 rows
Added 171000000 rows
Added 172000000 rows
Added 173000000 rows
Added 174000000 rows
Added 175000000 rows
Added 176000000 rows
Added 177000000 rows
Added 178000000 rows
Added 179000000 rows
Added 180000000 rows
Added 181000000 rows
Added 182000000 rows
Added 183000000 rows
Added 184000000 rows
Added 185000000 rows
Added 186000000 rows
Added 187000000 rows
Added 188000000 rows
Added 189000000 rows
Added 190000000 rows
Added 191000000 rows
Added 192000000 rows
Added 193000000 rows
Added 194000000 rows
Added 195000000 rows
Added 196000000 rows
Added 197000000 rows
Added 198000000 rows
Added 199000000 rows
Added 200000000 rows
Added 201000000 rows
Added 202000000 rows
Added 203000000 rows
Added 204000000 rows
Added 205000000 rows
Added 206000000 rows
Added 207000000 rows
Added 208000000 rows
Added 209000000 rows
Added 210000000 rows
Added 211000000 rows
Added 212000000 rows
Added 213000000 rows
Added 214000000 rows
Added 215000000 rows
Added 216000000 rows
Added 217000000 rows
Added 218000000 rows

In [5]:
# This function finds the taxonomy code for a given row
def get_taxo_code(row):
    code_prefix = 'Healthcare Provider Taxonomy Code_'
    switch_prefix = 'Healthcare Provider Primary Taxonomy Switch_'
    for num in range(1,16):
        if row[switch_prefix+str(num)] == 'Y':
            break
    return row[code_prefix+str(num)]

In [6]:
# This section creates the npps table

chunksize = 1000000
n = 1

with sqlite3.connect(database_path) as db:
    for chunk in pd.read_csv('../data/NPPES_Data_Dissemination_February_2024/nppes_main.csv', dtype=str, chunksize=chunksize):
        taxonomy_cols = [col for col in chunk.columns if 'Taxonomy Code' in col or 'Taxonomy Switch' in col] #gets the column names which have "Taxonomy Code" or "Taxonomy Switch" in them

        chunk = chunk[['NPI', 'Entity Type Code', 'Provider Organization Name (Legal Business Name)', 'Provider Last Name (Legal Name)',
                        'Provider First Name', 'Provider Middle Name', 'Provider Name Prefix Text', 'Provider Name Suffix Text',
                        'Provider Credential Text', 'Provider First Line Business Practice Location Address', 'Provider Second Line Business Practice Location Address',
                        'Provider Business Practice Location Address City Name', 'Provider Business Practice Location Address State Name',
                        'Provider Business Practice Location Address Postal Code'] + taxonomy_cols] # selects the columns we want

        df = chunk.copy() # making a copy of the chunk to avoid "SettingWithCopyWarning" wwarnings
        df["taxo_code"] = chunk.apply(get_taxo_code, axis=1) # making a column called taxo_code which will hold the taxonomy code for that row
        df = df.drop(columns=taxonomy_cols) # dropping the taxonomy columns as we don't need them anymore
        df = df[df.NPI.notnull() & df.taxo_code.notnull()] # drop the rows in which NPI an taxonomy code are null (don't see how these would be useful)
        df.columns = [x.lower().replace(' ', '_') for x in df.columns]  # Clean up the column names
        df.to_sql('npi', db, if_exists='append', index=False)  # Append the chunk to an npps table
        print("Added " + str(n * chunksize) + " rows")
        n += 1

Added 1000000 rows
Added 2000000 rows
Added 3000000 rows
Added 4000000 rows
Added 5000000 rows
Added 6000000 rows
Added 7000000 rows
Added 8000000 rows
Added 9000000 rows

In [7]:
# This section creates the code_to_classification table
taxonomy_code_to_classification= pd.read_csv('../data/nucc_taxonomy_240.csv', dtype=str,
                          nrows = 100)
with sqlite3.connect(database_path) as db:
    taxonomy_code_to_classification.to_sql('taxonomy', db, if_exists='append', index=False)

In [8]:
# This section creates the zip_to_cbsa table
chunksize = 10000
n = 0

with sqlite3.connect(database_path) as db:
    for df in pd.read_csv('../data/ZIP_CBSA_122023.csv', dtype=str, chunksize=chunksize):
        df = df.drop(columns=['RES_RATIO','BUS_RATIO', 'OTH_RATIO', 'TOT_RATIO'])
        df = df[df.ZIP.notnull() & df.CBSA.notnull()]
        df.to_sql('zip_cbsa', db, if_exists='append', index=False)  # Append the chunk to the zip_to_cbsa table
        print("Added " + str(df.shape[0]) + " rows")
        n += df.shape[0]

Added 10000 rows
Added 10000 rows
Added 10000 rows
Added 10000 rows
Added 7598 rows

In [9]:
# SCRATCH 

# hopteaming = pd.read_csv('../data/DocGraph_Hop_Teaming_2018_Commercial/DocGraph_Hop_Teaming_2018.csv', 
#                           nrows = 100)


# chunk = pd.read_csv('../data/NPPES_Data_Dissemination_February_2024/nppes_main.csv', dtype=str,
#                           nrows = 100)
# taxonomy_cols = [col for col in chunk.columns if 'Taxonomy Code' in col or 'Taxonomy Switch' in col]

# chunk = chunk[['NPI', 'Entity Type Code', 'Provider Organization Name (Legal Business Name)', 'Provider Last Name (Legal Name)', 
#              'Provider First Name', 'Provider Middle Name', 'Provider Name Prefix Text', 'Provider Name Suffix Text', 
#              'Provider Credential Text', 'Provider First Line Business Practice Location Address', 'Provider Second Line Business Practice Location Address',
#              'Provider Business Practice Location Address City Name', 'Provider Business Practice Location Address State Name', 
#              'Provider Business Practice Location Address Postal Code']+taxonomy_cols]
# df = chunk.copy()
# df["taxo_code"] = chunk.apply(get_taxo_code, axis=1)
# df = df.drop(columns = taxonomy_cols)
# df =df[df.NPI.notnull() & df.taxo_code.notnull()]
# df.columns = [x.lower().replace(' ', '_') for x in df.columns]